body {
   background-color: #fff;
}


main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#container_file {
   width: 60%;
   height: 30rem;
   padding: 2rem;
   background-color: rgba(108, 99, 255, 0.3);
}

#view_file {
   width: 100%;
   height: 22rem;

}

#upload_pdf {
   display: flex;
   flex-direction: row;
   align-items: center;
}

#container_view_path_file{
   flex:1;
   height: 2.5rem;
   border: 1px dashed #6C63FF;
   margin-right: 5px;
   display: flex;
   align-items: center;
   padding: 0px 1rem;
}

#container_params_template {
   width: 60%;
   height: 30rem;

   display: flex;
   flex-direction: column;
   margin-top: 2.5rem;

   padding: 2rem;
   background-color: rgba(108, 99, 255, 0.3);
}

#container_params {
   flex: 1;
   overflow: auto;
   border: 1px dashed #6C63FF;
}

#container_control{
   margin-top: 10px;
   width: 100%;
}

#btn_finish {
  float: right;
}

.text_input {
    height: 50px;
    text-decoration: none;
    background-color: #4a41f0;
    border: 0px;
    outline: none;
    color: #fff;
    font-size: 14px;
 }

 .size_input_key {
    width: 15rem;
 }

 .size_input_property {
    flex: 1;
    background-color: #4a41f0;
    margin-left: 10px;
 }

 #progress_template {
   width: 60%;
   height: 15rem;

   display: flex;
   flex-direction: column;
   margin-top: 2.5rem;

   padding: 2rem;
   background-color: rgba(108, 99, 255, 0.3);
 }

 #container_progress {
   display: flex;
   flex-direction: row;

   justify-content: space-between;
   align-items: center;

   padding: 10px;
   width: 100%;
   border: 1px dashed #6C63FF;
 }

 .progress-content {
    width: 300px;
    height: 30px;
    background-color: #6C63FF;
    border-radius: 5px;
    overflow: hidden;
 }

 .progress-bar {
    width: 0;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
 }
